
/**
 * @file
 * TogetherJS module styles.
 */

#togetherjs-menu-update-profile a {
    color: #333333;
    text-decoration: none;
}

#togetherjs-menu-update-profile a:hover 
{
    color:#333333; 
    text-decoration:none; 
}